.ELFSIGHT_WIDGET_CLASS {
  margin: 10rem;
}

//class="elfsight-app-85abb54b-79d9-4a7d-824e-2ad770ad9dfd eapps-widget eapps-widget-show-toolbar"

.elfsight-app-85abb54b-79d9-4a7d-824e-2ad770ad9dfd {
  margin: 0 2rem;
}

.dqHZeM {
  border-radius: 0;
}
