@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.help-intro {
  color: $dark-gray;
  text-align: left;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto;

    @include tablet {
      flex-direction: column-reverse;
      gap: 3rem;
    }

    @include desktop {
      flex-direction: row-reverse;
    }
  }

  &__image-container {
    flex: 1;
    order: 1;
    background: $light-gray;

    @include tablet {
      order: 2;
      flex: 0 0 45%;
    }
  }

  &__image {
    width: 100%;
    height: 20rem;
    object-fit: cover;

    @include desktop {
      max-width: 100rem;
      height: 30rem;
    }
  }

  &__content {
    flex: 1;
    order: 2;
    background: $light-gray;

    @include tablet {
      order: 1;
      flex: 0 0 55%;
    }
  }

  &__text {
    padding: 1rem 0;

    @include tablet {
      padding: 0;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;

    @include tablet {
      padding-bottom: 1rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-family: $secondary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    padding: 0 3rem;
    margin-bottom: 1rem;
    text-align: left;

    @include tablet {
      text-align: left;
      font-size: 1rem;
    }
  }

  &__cta-button {
    @include standard-button;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 2rem 1.5rem;
    max-width: 12rem;
    font-size: 0.9rem;
    text-align: center;

    @include tablet {
      margin: 2rem 3rem 1.5rem;
      justify-content: flex-start;
    }

    &--essential {
      margin: 2rem 1rem 1.5rem;

      @include tablet {
        justify-content: center;
        width: 100%;
        max-width: 30rem;
        padding: 1rem2rem;
        margin: 2rem 0;
      }
    }
  }

  &__cta-img {
    width: 1.5rem;
    height: auto;
    margin-right: 0.5rem;
  }

  &__payment-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem;

    @include tablet {
      justify-content: flex-start;
      padding: 0 0 3rem 3rem;
      gap: 0.5rem;
    }
  }

  &__card-logo {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
  }

  &__wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 0;
    margin: 0;
    text-align: center;
    color: $dark-gray;
  }

  &__header {
    font-family: $fancy-font;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 1rem 0;
    margin: 0;
  }

  &__essentials {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 0 1rem;
    margin: 0;
  }
}
