@use "./variables" as *;

@mixin mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin standard-button {
  display: inline-block;
  background: $mid-gray;
  color: $dark-gray;
  padding: 1rem 2rem;
  font-family: $secondary-font;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &:hover,
  &:focus {
    background: darken($mid-gray, 10%);
  }

  &:active {
    transform: translateY(0);
  }
}
