@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

.help {
  position: relative;
  width: 100%;
  //min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__text {
    @include tablet {
      width: 100%;
      padding: 0 2rem;
    }

    @include desktop {
      width: 40%;
      padding-top: 5rem;
    }
  }

  &__hero {
    position: relative;
    width: 100%;
    //height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      align-items: flex-start;
      margin-top: 2rem;
    }
  }

  &__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    // @include tablet {
    //   width: 50%;
    // }
  }

  &__image-container {
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 75rem;
    text-align: center;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    background: $light-gray;
    padding: 4rem;

    @include tablet {
      flex-direction: row;
      padding: 0;
    }
  }

  &__subtitle {
    font-family: $secondary-font;
    padding: 3rem 2rem 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    color: $dark-gray;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__title {
    font-family: $fancy-font;
    font-size: 2.5rem;
    font-weight: 300;
    color: $dark-gray;
    margin: 0 0 2rem 0;
    line-height: 1.2;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__cta-button {
    @include standard-button;
  }

  @media (max-width: $breakpoint-tablet) {
    &__text-container {
      padding: 2rem;
      margin: 0 1rem;
      @include tablet {
        padding: 0;
        margin: 0;
      }
    }

    &__title {
      font-size: 1.8rem;
      line-height: 1.3;

      @include tablet {
        font-size: 2.4rem;
      }
    }

    &__subtitle {
      font-size: 1rem;

      @include tablet {
        font-size: 1.05rem;
        line-height: 1.2rem;
      }
    }

    &__cta-button {
      font-size: 0.9rem;
      padding: 0.6rem 3rem;
      margin: 1rem 1rem 4rem;

      @include tablet {
        letter-spacing: 0.2rem;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    &__title {
      font-size: 1.9rem;
    }

    &__text-container {
      padding: 0rem;
    }
  }
}
